<section class="accueil-candidat">
    <article class="secteur-activite zoom"><a href="">Développeuse Web</a></article>
    <article class="secteur-activite zoom"><a href="">Data Analyst</a></article>
    <article class="secteur-activite zoom"><a href="">Cyber Sécurité</a></article>
    <article class="secteur-activite zoom"><a href="">Maintenance Réseau Système Réseau Bureautique</a></article>
</section>

<div id="offre-emploi">
    <section class="emploi">
        <h2 class="emploi-candidat"> Offre d'Emploi</h2>
    </section>

<span class="separation"></span>
    <section  class="filtre">
        <h2 class="emploi-candidat">Filtre</h2>
    </section>
</div>