<form method="post" action="/signin" class="form connexion">
    <h1 class="title">Connexion Candidat</h1>

    <a class="linkedin-btn" href="/auth/linkedin"><img class="linkedin-img" src="/img/linkedin.jpeg" alt="linkedin">Se
        connecter avec linkedin</a>

    <label class="label" for="input-email">Votre email</label>

    <input class="input input-connection" type="email" name="email" placeholder="votre email" required value="yeah@yeah.yeah">

    <label class="label" for="input-password">Votre mot de passe</label>

    <input id="input-password" class="input input-connection" type="password" name="password" placeholder="votre mot de passe" required
        value="12345">
    <span id="icon-toggle">
        <i class="is-clickable fas fa-eye"></i>
    </span>

    <button class="btn">ok</button>
</form>