<h1 class="title">Login</h1>
<form method="post" action="/signin" class="form">
    <input class="input" type="email" name="email" placeholder="votre email" required value="yeah@yeah.yeah">
    <span>
        <input id="input-password" class="input" type="password" name="password" placeholder="votre mot de passe" required value="12345">
        <span id="icon-toggle" >
            <i class="is-clickable fas fa-eye"></i>
        </span>
    </span>
    
    <button class="btn">ok</button>
</form>