<form method="post" action="/contact" class="form">
  <h1 class="title">Contact</h1>
  <label class="label is-clickable" for="input-name">Votre nom</label>
  <input id="input-name" class="input" type="text" name="name" />

  <label class="label is-clickable" for="input-email">Votre email</label>
  <input id="input-email" class="input" type="email" name="email" />

  <label class="label is-clickable" for="input-subject">Sujet du message</label>
  <select name="subject" id="subject" class="input is-clickable">
    {{#each subjects}}
    <option value="{{this.value}}">{{this.text}}</option>
    {{/each}}
  </select>

  <label for="input-message" class="label is-clickable">Votre Message</label>
  <textarea name="message" id="input-message" class="input"></textarea>

  <button class="btn is-clickable">ok !</button>
</form>