
<main class="home">
    <div id="accueil">


        <button class="btn-accueil" id="btnCandidat">Candidat</button>

        <figure class="img-accueil">
            <img src="/img/image-accueil.svg" alt="accueil">
        </figure>

        <button class="btn-accueil" id="btnEntreprise">Entreprise</button>
    </div>
</main>