{{!-- <main class="connection-e">
        {{> flashMessage}}

     <form action="/signinEntreprise" method="post" enctype="multipart/form-data" class="form">
        <h1 class="title">Connection Entreprise</h1>

<a class="google-btn" href="/auth/google"><img class="google-img" src="/img/google.png" alt="google">Se connecter avec google</a>
<a class="google-btn" href="/auth/linkedin"><img class="linkedin-img" src="/img/linkedin.jpeg" alt="linkedin">Se connecter avec linkedin</a>


        <label class="label" for="input-email">Votre email</label>
        <input id="input-email" class="input" type="email" placeholder="Votre email" name="email">     

        <label class="label" for="input-password">Votre mot de passe</label>
        <input id="input-password" class="input" type="password" placeholder="assez complexe par mesure de sécurité"
          name="motDePasse">

        <button class="btn">Se connecter</button>
      </form>
    
</main> --}}